<% @title="Perreo 4 the soul" %>
<div align="center">
<h1>Dios bendiga el Reggaetón, Amen</h1>
<p>Aquí tampoco hay nada pero te dejo otra canción xd</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Geyg_F5pfHE?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
    <br>
    <br>
    <hr width=5%>
<%= link_to 'Volver al inicio', root_path %>
</div>
