<% @title="Perreo 4 the soul" %>
<div align="center">
    <h1>Dios bendiga el Reggaetón, Amen</h1>
    <p>Por ahora no hay nada aquí, pero te dejo una canción que es una chimba</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_ZR_M2u2tRg?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
    <br>
    <br>
    <hr width=5%>
    <%= link_to 'Sobre nosotros', about_path %>
</div>

<%= link_to "Cosas de servicio", articles_path %>